.modal {
  position: absolute; /* Posicionamento absoluto em relação à foto */
  z-index: 1; /* Garante que o modal fique acima de outros elementos */
  display: flex; /* Use flexbox para alinhar os elementos lado a lado */
  align-items: center; /* Alinha verticalmente os elementos ao centro */
}

.modal-content {
  /* ... outros estilos ... */
  display: flex; /* Flexbox para o conteúdo */
  flex-direction: row; /* Alinha os elementos em linha (horizontal) */
}

.modal-info {
  margin-top: 100px;
  margin-left: 20px; /* Espaçamento entre a imagem e as informações */
}

.close {
  /* ... outros estilos ... */
  position: absolute; /* Posiciona o botão no canto superior direito */
  top: -5px;
  right: 0px;
  color: red;
  font-size: 25px;
  cursor: pointer;
}
