body{
  background-color: rgb(0 0 0 / .02);
}

.modal {
  position: absolute; /* Posicionamento absoluto em relação à foto */
  z-index: 1; /* Garante que o modal fique acima de outros elementos */
  display: flex; /* Use flexbox para alinhar os elementos lado a lado */
  align-items: center; /* Alinha verticalmente os elementos ao centro */
}

.modal-content {
  /* ... outros estilos ... */
  display: flex; /* Flexbox para o conteúdo */
  flex-direction: row; /* Alinha os elementos em linha (horizontal) */
}


